/***********/
/* DESKTOP */
/***********/

footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 2em;
    margin: 0 8em;
    border-top: dotted 0.15em var(--line-color);
    height: 6em;
}

footer p {
    grid-column: span 6;
    color: var(--title-color);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
}

footer ul {
    grid-column: span 6;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer ul li a {
    color: var(--title-color);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    margin-left: 0.6em;
    letter-spacing: 0.06em;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer ul li a img {
    margin-right: 0.4em;
} 

/**********/
/* TABLET */
/**********/

@media (max-width: 80em) {
    footer {
        margin: 0 4em;
        grid-column-gap: 0.8em;
    }
}

/****************/
/* TABLET SMALL */
/****************/

@media (max-width: 48em) {
    footer {
        margin: 0 1.8em;
    }

    footer p {
        font-size: 0.8em;
    }

    footer ul li a {
        font-size: 0.8em;
    }
}

/**********/
/* MOBILE */
/**********/

@media (max-width: 40em) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    footer p {
        margin-bottom: 0.6em;
    }
    
    footer ul {
        justify-content: flex-start;
    }

    footer ul li > a:nth-of-type(1) {
        margin-left: 0;
        margin-right: 0.6em;
    }
}

/****************/
/* MOBILE SMALL */
/****************/

@media (max-width: 22em) {
    footer {
        margin: 0 1.2em;
    }

    footer p {
        font-size: 0.7em;
    }

    footer ul li a {
        font-size: 0.7em;
    }
}