/*********/
/* FONTS */
/*********/

@font-face {
    font-family: 'MoglanDemo';
    src: url(../fonts/MoglanDemo.woff);
}

@font-face {
    font-family: 'Red Hat Display', sans-serif;
    src: url(../fonts/RedHatDisplay-Regular.woff);
}

/**************/
/* CSS REMEDY */
/**************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

a,
button {
    cursor: none;
}

body {
    background-color: var(--background-color);
    position: relative;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    cursor: none;
}

/********************/
/* CUSTOM PROPERTIES */
/********************/

:root {
    --background-color: rgb(244 244 244);
    --title-color: rgb(35 35 35);
    --p-color: rgb(101 101 101);
    --line-color: rgb(35 35 35);
    --accent-color-1: rgb(255 233 35);
    --accent-color-2: rgb(255 100 255);
    --accent-color-3: rgb(255 98 1);
    --main-1: white;
}

/*********/
/* BLOBS */
/********/

/* BLOBS DESKTOP */
.blob {
    position: absolute;
    width: 112em;
    aspect-ratio: 1/1;
    z-index: -1;
}

.blob.yellow {
    background-image: radial-gradient(rgba(255, 233, 35, 0.60) 0%, rgba(253, 233, 35, 0.45) 12%, rgba(255, 233, 35, 0.30) 30%, rgba(255, 233, 35, 0.15) 42%, rgba(255, 233, 35, 0) 54%, rgba(255, 233, 35, 0) 70%, rgba(255, 233, 35, 0) 82%, rgba(0, 0, 0, 0) 100%);
}

.blob.pink {
    background-image: radial-gradient(rgba(255, 100, 255, 0.45) 0%, rgba(253, 100, 255, 0.30) 12%, rgba(255, 100, 255, 0.15) 30%, rgba(255, 100, 255, 0.05) 42%, rgba(255, 100, 255, 0) 54%, rgba(255, 100, 255, 0) 70%, rgba(255, 100, 255, 0) 82%, rgba(0, 0, 0, 0) 100%);
}

.blob.yellow.top {
    transform: translate(25%, -25%);
    top: 0;
    right: 0;
}

.blob.pink.middle {
    transform: translate(-35%, 0%);
    left: 0;
}

.blob.yellow.bottom {
    bottom: 0;
    right: 0;
    transform: translate(50%, 0%);
}

/* BLOBS TABLET */
@media (max-width: 80em) {
    .blob {
        width: 96em;
    }
}

/* BLOBS TABLET MEDIUM */
@media (max-width: 64em) {
    .blob {
        width: 72em;
    }
}

/* BLOBS TABLET SMALL */
@media (max-width: 48em) {
    .blob {
        width: 56em;
    }
}

/* BLOBS MOBILE */
@media (max-width: 40em) {
    .blob {
        width: 48em;
    }
}

/* BLOBS MOBILE SMALL */
@media (max-width: 22em) {
    .blob {
        width: 32em;
    }
}

/**************/
/* ANIMATIONS */
/**************/

/* VISIBLE RIGHT */
.visible-right-1 {}

.visible-right-2 {
    animation: visible-right 2s ease-out;
}

.visible-right-3 {}

.visible-right-4 {}

.visible-right-5 {
    animation: visible-right 1s ease-out;
}

.visible-right-6 {
    animation: visible-right 1.4s ease-in-out;
}

.visible-right-7 {}

.visible-right-8 {}

.visible-right-9 {
    animation: visible-right 2.2s ease-in-out;
}

.visible-right-10 {}

.visible-right-11 {}

.visible-right-12 {}

.visible-right-13 {
    animation: visible-right 1.8s ease-out;
}

.visible-right-14 {}

.visible-right-15 {
    animation: visible-right 1.4s ease-out;
}

.visible-right-16 {}

.visible-right-17 {
    animation: visible-right 2.2s ease-out;
}

.visible-right-18 {}

.visible-right-19 {}

.visible-right-20 {
    animation: visible-top 1s ease-out;
}

.visible-right-21 {}

.visible-right-22 {
    animation: visible-top 2.2s ease-out;
    animation: arrow 1.6s infinite;
}

.visible-right-23 {
}

.visible-right-24 {
    animation: visible-right 1.6s ease-out;
}

.visible-right-25 {
}

.visible-right-26 {
    animation: visible-right 1.6s ease-out;
}

@keyframes visible-right {
    from {
        opacity: 0;
        transform: translateX(6em);
    }

    to {
        transform: translateX(0em);
        opacity: 1;
    }
}

@keyframes visible-top {
    from {
        opacity: 0;
        transform: translateY(1em);
    }

    to {
        transform: translateY(0em);
        opacity: 1;
    }
}

@keyframes visible-top-2 {
    from {
        opacity: 0;
        transform: translateY(8em);
    }

    to {
        transform: translateY(0em);
        opacity: 1;
    }
}

/* VISIBLE LEFT */
.visible-left-1 {
    animation: visible-left 1.6s ease-out;
}

.visible-left-2 {}

.visible-left-3 {
    animation: visible-left 2.2s ease-out;
}

.visible-left-4 {
    animation: visible-left 1s ease-out;
}

.visible-left-5 {}

.visible-left-6 {}

.visible-left-7 {
    animation: visible-left 1.4s ease-in-out;
}

.visible-left-8 {
    animation: visible-left 1.8s ease-in-out;
}

.visible-left-9 {}

.visible-left-10 {
    animation: visible-left 1.4s ease-in-out;
}

.visible-left-11 {
    animation: visible-left 1.6s ease-out;
}

.visible-left-12 {
    animation: visible-left 2.2s ease-out;
}

.visible-left-13 {}

.visible-left-14 {
    animation: visible-left 1.4s ease-out;
}

.visible-left-15 {}

.visible-left-16 {
    animation: visible-left 1.8s ease-out;
}

.visible-left-17 {}

.visible-left-18 {
    animation: visible-left 2.6s ease-out;
}

.visible-left-19 {
    animation: visible-top-2 .6s ease-out;
}

.visible-left-20 {}

.visible-left-21 {
    animation: visible-top-2 1.2s ease-out;
}

.visible-left-22 {}

.visible-left-23 {
    animation: visible-left 1.6s ease-out;
}

.visible-left-24 {}

.visible-left-25 {
    animation: visible-left 1.6s ease-out;
}

@keyframes visible-left {
    from {
        opacity: 0;
        transform: translateX(-6em);
    }

    to {
        transform: translateX(0em);
        opacity: 1;
    }
}

/* BOUNCE */
.bounce {
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-2em);
    }

    60% {
        transform: translateY(-1em);
    }
}

/* ARROW */
@keyframes arrow {
    0% {
        transform: translateY(0em);
    }

    50% {
        transform: translateY(-.1em);
    }

    100% {
        transform: translateY(0em);
    }
}